{% extends 'life/life_base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'life/life_list.css' %}">
{% endblock %}

{% block content %}
    <div id="container">
        {% for life_post in life_post_list %}
            <div id="post_hoder">
                <div id="title">
                    <a href="{% url 'life_detail' pk=life_post.pk %}" style="text-decoration:none;"><p>{{ life_post.Life_title }}</p></a>
                </div>
                    {% if life_post.Life_photo %}
                        <div id="photo">
                            <a href="{% url 'life_detail' pk=life_post.pk %}">
                                <img src="{{ life_post.Life_photo }}" alt="">
                            </a>
                        </div>
                    {% else %}
                        <div id="photo">
                            <a href="{% url 'life_detail' pk=life_post.pk %}">
                                <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13631518_1338606486154062_5614868408778686362_n.jpg?oh=293671b7b1cb71c9dc27d73943bffd75&oe=58357A7C" alt="">
                            </a>
                        </div>
                    {% endif %}
                <div id="date">
                    <strong>{{ life_post.Life_post_created_date|date:"Y / m / d" }}-({{ life_post.comments.count }})-</strong>
                </div>
            </div>
            <div id="empty"></div>
        {% endfor %}
    </div>
{% endblock %}
