<!DOCTYPE html PUBLIC>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'life/life_detail.css' %}">
        <title>工程師的日常</title>
    </head>
    <body>
        <div id="area1"></div>
        <div id="area2">
            工程師的日常
        </div>
        <div id="home">
            <a href="/">
                <p class="ep">Home</P>
            </a>
        </div>
        <div id="dish">
            <a href="/dish">
                <p class="ep">Dish</p>
            </a>
        </div>
        <div id="life">
            <a href="/life">
                <p class="ep">Life</p>
            </a>
        </div>
        <div id="cont">
            <div id="photo">
                {% if life_post.LifePhoto %}
                    <img src="{{ life_post.LifePhoto }}" alt="">
                {% else %}
                    <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13631518_1338606486154062_5614868408778686362_n.jpg?oh=293671b7b1cb71c9dc27d73943bffd75&oe=58357A7C" alt="">
                {% endif %}
            </div>
        </div>
        <div id="title">
            {{ life_post.LifeTitle }}
        </div>
        <div id="content">
            {{ life_post.LifeContent|linebreaksbr }}
        </div>
        <div id="date">
            哥為code而活      {{ life_post.LifeCreated_date|date:'Y / m / d' }}
        </div>

    </body>
</html>