#area1{
    position: absolute;
    top: 0px;
    margin-left: 50%;
    left: -50px;
    height: 105px;
    width: 100px;
    background-image: url(Picture7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#area2{ 
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50%;
    left: 50px;
    top: 85px;
}

#search{
    position: absolute;
    margin-left:50%;
    left: -90px;
    height: 15px;
    width: 41px;
    top: 89px;
    background-image: url(search.png);
    background-size: cover;
}

#home{
    position: absolute;
    margin-left:50%;
    left: -145px;
    height: 17px;
    width: 37.5px;
    top: 88px;
    background-image: url(home.png);
    background-size: cover;
}

#dish{
    position: absolute;
    margin-left:50%;
    left: -195px;
    height: 15px;
    width: 30px;
    top: 89px;
    background-image: url(dish.png);
    background-size: cover;
}

#life{
    position: absolute;
    margin-left:50%;
    left: -245px;
    height: 15px;
    width: 30px;
    top: 89px;
    background-image: url(life.png);
    background-size: cover;
}

#modify{
    position: absolute;
    margin-left:50%;
    left: -345px;
    height: 50px;
    width: 50px;
    top: 54px;
    background-image: url(modify.png);
    background-size: cover;
}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-size: cover;
}
