
h1{
    color: white;
}

form{
    position: absolute;
    color: white;
    margin-left: 50%;
    top: 120px;
    left: -135px;
}

#search_in_life{
    background-color: white;
    position: absolute;
    margin-left: 50%;
    top:140px;
    left: 167px;
    border-radius:5px;
}

#search_in_dish{
    background-color: white;
    position: absolute;
    margin-left: 50%;
    top:140px;
    left: -275px;
    border-radius:5px;
}