<!DOCTYPE html PUBLIC>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'dish/dish_base.css' %}">
        {% block extra_head %}
        {% endblock %}
        
        <title>工程師的SOP食譜</title>
    </head>
    <body>
        <div id="area1"></div>
        <div id="area2">
            工程師的SOP食譜
        </div>
        <a href="/search">
            <div id="search"></div>
        </a>
        <a href="/">
            <div id="home"></div>
        </a>
        <a href="/dish">
            <div id="dish"></div>
        </a>
        <a href="/life">
            <div id="life"></div>
        </a>
        <a href="/humor">
            <div id="humor"></div>
        </a>
        <a href="/song">
            <div id="song"></div>
        </a>
        {% if user.is_authenticated %}
            <a href="{% url 'dish_new' %}"
                <div id="modify"></div>
            </a>
        {% endif %}
        
        {% block content %}
        {% endblock %}
        
    </body>
</html>