<!DOCTYPE html PUBLIC>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'dish/dish_detail.css' %}">
        <title>工程師的SOP食譜</title>
    </head>
    <body>
        <div id="area1"></div>
        <div id="area2">
            工程師的SOP食譜
        </div>
        <a href="/">
            <div id="home"></div>
        </a>
        <a href="/dish">
            <div id="dish"></div>
        </a>
        <a href="/life">
            <div id="life"></div>
        </a>
        <div id="cont">
            <div id="photo">
                <img src="{{ dish_post.DishPhoto }}" alt="">
            </div>
        </div>
        <div id="title">
            {{ dish_post.DishTitle }}
        </div>
        <div id="content">
            {{ dish_post.DishContent|linebreaksbr }}
        </div>
        <div id="date">
            哥吃的是效率      {{ dish_post.DishCreated_date|date:'Y / m / d' }}
        </div>

    </body>
</html>