<!DOCTYPE html PUBLIC>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'dish/dish_list.css' %}">
        <title>工程師的SOP食譜</title>
    </head>
    <body>
        <div id="area1"></div>
        <div id="area2">
            工程師的SOP食譜
        </div>
        <div id="home">
            <a href="/">
                <p class="ep">Home</P>
            </a>
        </div>
        <div id="dish">
            <a href="/dish">
                <p class="ep">Dish</p>
            </a>
        </div>
        <div id="life">
            <a href="/life">
                <p class="ep">Life</p>
            </a>
        </div>
        
        <div id="container">
            {% for dish_post in dish_list %}
                <div id="post_hoder">
                    <div id="photo">
                        <a href="{% url 'dish_detail' pk=dish_post.pk %}">
                            <img src="{{ dish_post.DishPhoto }}" alt="">
                        </a>
                    </div>
                    <div id="date">
                        <strong>{{ dish_post.DishCreated_date|date:"Y / m / d" }}</strong>
                    </div>
                </div>
                <div id="empty"></div>
            {% endfor %}
        </div>

    </body>
</html>