<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'homepage/app_list.css' %}" />
        <title>¤uµ{style</title>
    </head>
    <body>
    <!--Header-->
        <div id="div1"></div>
    <!--Dish-->
        <div id="dish">
            <a href="/dish">
                <p>Dish</p>
            </a>
        </div>
    <!--Life-->
        <div id="life">
            <a href="/life">
                <p>Life</p>
            </a>
        </div>
    </body>
</html>