<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'homepage/app_list.css' %}" />
        <title>¤uµ{style</title>
    </head>
    <body>
    <!--Header-->
        <div id="head"></div>
    <!--Dish-->
        <a href="/dish">
            <div id="dish"></div>
        </a>
    <!--Life-->
        <a href="/life">
            <div id="life"></div>
        </a>
        <a href="/humor">
            <div id="humor"></div>
        </a>
        <a href="/search">
            <div id="search"></div>
        </a>
    </body>
</html>