#video_container{
    position: absolute;
    top: 0px;
    margin-left: 50%;
    left: -450px;
}


img{
    width: auto;
    height: auto;
    max-height: 230px;
    max-width: 408px;
}

#title{
    height:30px;
    width:450px;
    color: black;
    background-color: white;
    position: absolute;
    top: 407px;
    margin-left: 50%;
    font-size: 23px;
    text-align: center;
    left:0px;
}

#content{
    position: absolute;
    height:120px;
    width:450px;
    color: white;
    background-color: black;
    top:437px;
    word-break: break-all;
    overflow:auto; 
    margin-left: 50%;
    left: 0px;
}

#date{
    height:12px;
    width:450px;
    color: black;
    background-color: white;
    position: absolute;
    top:407px;
    margin-left: 50%;
    font-size: 10px;
    text-align: center;
    left: -450px;
}

#modify{
    position: absolute;
    margin-left: 50%;
    top: 420px;
    height: 50px;
    width: 50px;
    left: -100px;
    background-image: url(modify.png);
    background-size: cover;
}

#add_comment{
    position: relative;
    width: 100px;
    height:22px;
    background-image: url(add_comment.png);
    background-size: cover;
    margin-left: 0;
    top: 0px;
    background-color: white; 
}

#comment_container{
    position: absolute;
    top: 557px;
    width: 900px;
    height: auto;
    background-color: white;   
    margin-left: 50%;
    left: -450px;
}

#comment{
    margin-left:85px;
    margin-top: 30px;
    width: 700px;
    height: auto;   
}

#comment_date{
    width: 890px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_content{
    width: 890px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_author{
    width: 890px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}

#comment_remove{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}

#comment_approve{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}



#comment_reply_button{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
    background-color:black;
}

#comment_reply{
    margin-left:50px;
    margin-top: 5px;
    width: 790px;
    height: auto;
    
}

#comment_reply_date{
    width: 790px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_reply_content{
    width: 790px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_reply_author{
    width: 790px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}