#head{
    position: absolute;
    top: 397px;
    margin-left: 50%;
    left: -450px;
    height: 160px;
    width: 150px;
    background-image: url(Picture7.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index:3;
}

#page_title{ 
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 23px;
    margin-left: 50%;
    left: -300px;
    top: 467px;
}

#menu_bar{
    height:20px;
    width:450px;
    position: absolute;
    background-color: black;
    margin-left: 50%;
    left: -450px;
    top:537px;
    z-index:1;
}

#search{
    position: absolute;
    margin-left:50%;
    left: -90px;
    height: 15px;
    width: 41px;
    top: 531px;
    background-image: url(search.png);
    background-size: cover;
    z-index:3;
    background-color:black;
    border-radius:3px;
}

#home{
    position: absolute;
    margin-left:50%;
    left: -145px;
    height: 17px;
    width: 37.5px;
    top: 530px;
    background-image: url(home.png);
    background-size: cover;
    z-index:3;
    background-color:black;
    border-radius:3px;
}

#dish{
    position: absolute;
    margin-left:50%;
    left: -195px;
    height: 15px;
    width: 30px;
    top: 531px;
    background-image: url(dish.png);
    background-size: cover;
    z-index:3;
    background-color:black;
    border-radius:3px;
}

#life{
    position: absolute;
    margin-left:50%;
    left: -245px;
    height: 15px;
    width: 30px;
    top: 531px;
    background-image: url(life.png);
    background-size: cover;
    z-index:3;
    background-color:black;
    border-radius:3px;
}

#humor{
    position: absolute;
    margin-left:50%;
    left: -305px;
    height: 14px;
    width: 40px;
    top: 531px;
    background-image: url(humor.png);
    background-size: cover;
    z-index:3;
    background-color:black;
    border-radius:3px;
}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-attachment: fixed;
    background-size: cover;
}