{% extends 'search/base.html' %}
{% load staticfiles %}
{% load embed_video_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'search/search.css' %}">
{% endblock %}

{% block content %}

    <h1>Search</h1>
    <form action="." method="GET">{% csrf_token %}
        <label for="q">Search: </label>
        <input type="text" name="q" value="{{ query|escape }}">
        <input type="submit" value="Search">
    </form>
    
    <div id="search_in_life">Search in life</div>
    <div id="life_container">              
        {% for life_post in result_for_life %}
            <div id="post_hoder">
                <div id="title">
                    <a href="{% url 'life_detail' pk=life_post.pk %}" style="text-decoration:none;"><p>{{ life_post.Life_title }}</p></a>
                </div>
                    {% if life_post.Life_photo %}
                        <div id="photo">
                            <a href="{% url 'life_detail' pk=life_post.pk %}">
                                <img src="{{ life_post.Life_photo }}" alt="">
                            </a>
                        </div>
                    {% else %}
                        <div id="photo">
                            <a href="{% url 'life_detail' pk=life_post.pk %}">
                                <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13631518_1338606486154062_5614868408778686362_n.jpg?oh=293671b7b1cb71c9dc27d73943bffd75&oe=58357A7C" alt="">
                            </a>
                        </div>
                    {% endif %}
                <div id="date">
                    <strong>{{ life_post.Life_post_created_date|date:"Y / m / d" }}-({{ life_post.comments.count }})-</strong>
                </div>
            </div>
            <div id="empty"></div>
        {% empty %}
            <div id="life_empty">{{ result_empty_for_life.0 }}</div>
        {% endfor %}           
    </div>
    
    <div id="search_in_dish">Search in dish</div>
    <div id="dish_container">       
        {% for dish_post in result_for_dish %}
            <div id="post_hoder">
                <div id="title">
                    <a href="{% url 'dish_detail' pk=dish_post.pk %}" style="text-decoration:none;"><p>{{ dish_post.Dish_title }}</p></a>
                </div>
                {% if dish_post.Dish_photo %}
                    <div id="photo">
                        <a href="{% url 'dish_detail' pk=dish_post.pk %}">
                            <img src="{{ dish_post.Dish_photo }}" alt="">
                        </a>
                    </div>
                {% else %}
                    <div id="photo">
                        <a href="{% url 'dish_detail' pk=dish_post.pk %}">
                            <img src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/13631518_1338606486154062_5614868408778686362_n.jpg?oh=293671b7b1cb71c9dc27d73943bffd75&oe=58357A7C" alt="">
                        </a>
                    </div>
                {% endif %}
                <div id="date">
                    <strong>{{ dish_post.Dish_post_created_date|date:"Y / m / d" }}-({{ dish_post.comments.count }})-</strong>
                </div>
            </div>
            <div id="empty"></div>
        {% empty %}
            <div id="dish_empty">{{ result_empty_for_dish.0 }}</div>
        {% endfor %}
    </div>
    <div id="search_in_humor">Search in humor</div>
    <div id="humor_container">       
        {% for humor_post in result_for_humor %}
            <div id="post_hoder">
                <div id="title">
                    <a href="{% url 'humor_detail' pk=humor_post.pk %}" style="text-decoration:none;"><p>{{ humor_post.Humor_title }}</p></a>
                </div>
                {% video humor_post.Humor_video as post_video %}
                    <div id="photo">
                        <a href="{% url 'humor_detail' pk=humor_post.pk %}">
                            <img src="{{ post_video.thumbnail }}" alt="">
                        </a>
                    </div>
                {% endvideo %}
                <div id="date">
                    <strong>{{ humor_post.Humor_post_created_date|date:"Y / m / d" }}-({{ humor_post.comments.count }})-</strong>
                </div>
            </div>
            <div id="empty"></div>
        {% empty %}
            <div id="humor_empty">{{ result_empty_for_humor.0 }}</div>
        {% endfor %}
    </div>
    <div id="error">{{ errors.0 }}</div>
  

{% endblock %}