#area1{
    top: 0px;
    left: 0px;
    height: 167px;
    width: 150px;
    background-image: url(Picture7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#area2{ 
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#home{
    margin-left:110px;
}

#dish{
    margin-left:112px;
}

#life{
    margin-left:114px;
}

#container{
    position: absolute;
    top: 0px;
    left: 170px;
    height:530px;
    width:830px;
}

#post_hoder{
    display: inline-block;
    position: relative;
    height: 170px;
    width: 150px;
}

p{
    color: black;
    font-weight: bold;
    font-size: 13px;
    
}

#date{
    height: 20px;
    width: 150px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    text-align: right;
    background-color: white;
}

#title{
    height: 35px;
    width: 150px;
    color: black;
    font-weight: bold;
    background-color: white;
    word-break: break-all;
    text-align: center;
}

#photo{
    height: 150px;
    width: 150px;
    text-align: center;
    background-color: white; 
    display: table-cell;
    vertical-align: middle;
}

#empty{
    display: inline-block;
    height: 170px;
    width: 30px;
}

.ep{
    color: white;
    font-family: Palace Script MT, Blackadder ITC;
    font-weight: bold;
    font-size: 20px;
}

img{
    max-width: 140px;
    max-height: 140px;
    width: auto;
    height: auto;
    
}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-size: cover;
}



