#cont{
    position: absolute;
    height:380px;
    width:430px;
    top: 120px;
    margin-left: 50%;
    left: -430px;
    
}

#photo{
    height:380px;
    width:430px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}

img{
    width: auto;
    height: auto;
    max-height: 360px;
    max-width: 410px;
}

#title{
    height:35px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top: 120px;
    margin-left: 50%;
    font-size: 25px;
    text-align: left;
}

#content{
    height:325px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top:155px;
    margin-left: 50%;
    word-break: break-all;
    overflow:auto; 
}

#date{
    height:20px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top:480px;
    margin-left: 50%;
    font-size: 10px;
    text-align: right;
}

#modify{
    position: absolute;
    margin-left:50%;
    left: -345px;
    height: 50px;
    width: 50px;
    top: 54px;
    background-image: url(modify.png);
    background-size: cover;
}

#add_comment{
    position: absolute;
    width: 100px;
    height:22px;
    background-image: url(add_comment.png);
    background-size: cover;
    margin-left: 50%;
    left: -434px;
    top: 0px;
    background-color: white; 
}

#comment_container{
    position: absolute;
    width: 868px;
    height: auto;
    top: 508px;
    margin-left: 50%;
    left: -430px;
    background-color: white;    
}

#comment{
    margin-left:85px;
    margin-top:30px;
    position: relative;
    width: 700px;
    height: auto;
    
}

#comment_date{
    width: 700px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_content{
    width: 700px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_author{
    width: 700px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}

#comment_remove{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}

#comment_approve{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}



#comment_reply_button{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
    background-color:black;
}

#comment_reply{
    margin-left:50px;
    margin-top: 5px;
    width: 600px;
    height: auto;
    
}

#comment_reply_date{
    width: 600px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_reply_content{
    width: 600px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_reply_author{
    width: 600px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}