#area1{
    position: absolute;
    top: 0px;
    margin-left: 50%;
    left: -50px;
    height: 105px;
    width: 100px;
    background-image: url(Picture7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#area2{ 
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50%;
    left: 50px;
    top: 85px;
}

#home{
    position: absolute;
    margin-left:50%;
    left: -90px;
    height: 15px;
    width: 37px;
    top: 88px;
    background-image: url(home.png);
    background-size: cover;
}

#dish{
    position: absolute;
    margin-left:50%;
    left: -140px;
    height: 15px;
    width: 30px;
    top: 89px;
    background-image: url(dish.png);
    background-size: cover;
}

#life{
    position: absolute;
    margin-left:50%;
    left: -190px;
    height: 15px;
    width: 30px;
    top: 89px;
    background-image: url(life.png);
    background-size: cover;
}

#cont{
    position: absolute;
    height:380px;
    width:430px;
    top: 120px;
    margin-left: 50%;
    left: -430px;
    
}

#photo{
    height:380px;
    width:430px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}

img{
    width: auto;
    height: auto;
    max-height: 360px;
    max-width: 410px;
}

#title{
    height:35px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top: 120px;
    margin-left: 50%;
    font-size: 25px;
    text-align: left;
}

#content{
    height:325px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top:155px;
    margin-left: 50%;
    word-break: break-all;
    overflow-y:scroll;
}

#date{
    height:20px;
    width:430px;
    color: white;
    background-color: black;
    position: absolute;
    top:480px;
    margin-left: 50%;
    font-size: 10px;
    text-align: right;
}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-size: cover;
}
