#area1{
    top: 0px;
    left: 0px;
    height: 167px;
    width: 150px;
    background-image: url(Picture7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

#area2{ 
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#home{
    margin-left:110px;
}

#dish{
    margin-left:110px;
}

#life{
    margin-left:110px;
}

.ep{
    color: white;
    font-family: Palace Script MT, Blackadder ITC;
    font-weight: bold;
    font-size: 20px;
}

#cont{
    position: absolute;
    height:530px;
    width:450px;
    top: 0px;
    left: 170px;
}

#photo{
    height:530px;
    width:450px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#title{
    height:35px;
    width:383px;
    color: white;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 620px;
    font-size: 25px;
    text-align: right;
}

#content{
    height:475px;
    width:383px;
    color: white;
    background-color: black;
    position: absolute;
    top:35px;
    left: 620px;
    word-break: break-all;
}

#date{
    height:20px;
    width:383px;
    color: white;
    background-color: black;
    position: absolute;
    top:510px;
    left: 620px;
    font-size: 10px;
    text-align: right;
}

img{
    width: auto;
    height: auto;
    max-height: 530px;
    max-width: 450px;
}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-size: cover;
}
