#photo_container{
    position: absolute;
    height:570px;
    width:428px;
    top: 0px;
    margin-left: 50%;
    left: 10px;
    
}

#photo{
    height:570px;
    width:428px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}

img{
    width: auto;
    height: auto;
    max-height: 565px;
    max-width: 423px;
}

#title{
    height:70px;
    width:440px;
    color: black;
    background-color: white;
    position: absolute;
    top: 180px;
    margin-left: 50%;
    font-size: 35px;
    text-align: center;
    left: -430px;
}

#date{
    height:20px;
    width:440px;
    color: white;
    background-color: black;
    position: absolute;
    top:250px;
    margin-left: 50%;
    font-size: 10px;
    text-align: right;
    left: -430px;
}

#content{
    height:297.5px;
    width:440px;
    color: white;
    background-color: black;
    position: absolute;
    top:270px;
    margin-left: 50%;
    word-break: break-all;
    overflow:auto;
    left: -430px;
}


#modify{
    position: absolute;
    margin-left: 350px;
    top: 0px;
    height: 50px;
    width: 50px;
    background-image: url(modify.png);
    background-size: cover;
}

#add_comment{
    position: relative;
    width: 100px;
    height:22px;
    background-image: url(add_comment.png);
    background-size: cover;
    margin-left: 50%;
    left: -434px;
    top: 0px;
    background-color: white; 
}

#comment_container{
    position: absolute;
    width: 868px;
    height: auto;
    top: 567.5px;
    margin-left: 50%;
    left: -430px;
    background-color: white;    
}

#comment{
    margin-left:85px;
    margin-top:20px;
    position: relative;
    width: 700px;
    height: auto;
    
}

#comment_date{
    width: 700px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_content{
    width: 700px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_author{
    width: 700px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}

#comment_remove{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}

#comment_approve{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
}



#comment_reply_button{
    width: 100px;
    height: 20px;   
    color: white;
    display: inline-block;
    text-align: center;
    background-color:black;
}

#comment_reply{
    margin-left:50px;
    margin-top: 5px;
    width: 600px;
    height: auto;
    
}

#comment_reply_date{
    width: 600px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
    font-size:10px;
}

#comment_reply_content{
    width: 600px;
    height: auto;
    color: white;
    background-color: black;
    word-break: break-all;
}

#comment_reply_author{
    width: 600px;
    height: 20px;   
    color: white;
    background-color: black;
    text-align: right;
}