
#div1{
    width: 200px;
    height: 220px;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-top: -100px;
    margin-left: -150px;
    background-image: url(Picture7.png);
    background-size: cover;
}

#dish{  
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 7px;
    margin-left: 60px;

}

#life{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 52px;
    margin-left: 60px;

}

body{
    background-color: black;
    background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/t31.0-8/13582136_1333711766643534_2743738490796536147_o.jpg);
    background-size: cover;
}

p{
    color: white;
    font-family: Palace Script MT, Blackadder ITC;
    font-weight: bold;
    font-size: 30px;
}